{% extends "base.html" %}

{% block conteudo %}

<form method="POST" action="">
   
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome completo" value="{{ usuario.nome}}">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Endereço de E-mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Seu e-mail" value="{{ usuario.email}}">
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha" placeholder="Escolha uma senha segura" value="{{ usuario.senha}}">
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>


{% endblock %}