{% extends 'base.html' %}

{% block conteudo %}
  <header class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1>Bem-vindo ao Blog de Desenvolvimento Web</h1>
      <p>Aprenda sobre as últimas tendências em desenvolvimento web.</p>
    </div>
  </header>

  <section class="container">
    <article class="blog-post">
      <h2>Título do Post 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla elit ac nunc accumsan, a posuere.</p>
      <p>Saiba mais <a href="#">aqui</a>.</p>
    </article>

    <article class="blog-post">
      <h2>Título do Post 2</h2>
      <p>Phasellus vel augue nec urna consequat tincidunt. Fusce malesuada nulla in velit bibendum, ac malesuada.</p>
      <p>Saiba mais <a href="#">aqui</a>.</p>
    </article>
  </section>

  {% endblock %}