{% extends "base.html" %}

{% block conteudo %}
<section class="container">
  <h2>Sobre Nós</h2>
  <p>Bem-vindo ao Blog de Desenvolvimento Web! Somos um grupo de entusiastas da web apaixonados por compartilhar conhecimento, dicas e tendências no mundo do desenvolvimento web.</p>
  <p>Nosso objetivo é oferecer conteúdo de alta qualidade para ajudar desenvolvedores de todos os níveis a aprimorar suas habilidades e se manter atualizados com as últimas tecnologias e práticas.</p>
  <h3>Nossa Missão</h3>
  <p>Nossa missão é fornecer artigos, tutoriais e insights valiosos que possam enriquecer a comunidade de desenvolvimento web. Queremos ser sua fonte confiável de informações e inspiração à medida que você navega pelas complexidades do desenvolvimento web.</p>
  <h3>O Que Abordamos</h3>
  <p>Em nosso blog, você encontrará uma ampla variedade de tópicos relacionados ao desenvolvimento web, incluindo:</p>
  <ul>
    <li>Tecnologias Front-End como HTML, CSS e JavaScript</li>
    <li>Frameworks e Bibliotecas como React, Vue e Angular</li>
    <li>Tecnologias Back-End como Node.js, Python e Ruby on Rails</li>
    <li>Bancos de Dados e Gerenciamento de Dados</li>
    <li>Segurança na Web e Melhores Práticas</li>
    <li>Otimização de Desempenho e Acessibilidade</li>
  </ul>
  <p>Estamos animados para compartilhar nosso conhecimento e paixão pelo desenvolvimento web com você. Fique à vontade para explorar nosso blog e deixar comentários ou entrar em contato conosco para sugestões e feedback!</p>
</section>
{% endblock %}
